/*-----------------------------------*\ 
  #foodhub.css
\*-----------------------------------*/

/**
 * copyright 2024
 */





/*-----------------------------------*\ 
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors 
   */

  --red-orange-crayola: hsl(0, 100%, 66%);
  --space-cadet: hsl(249, 69%, 41%);
  --pistachio: hsl(88, 50%, 60%);
  --cultured: hsl(220, 13%, 95%);
  --saffron: hsl(45, 91%, 58%);
  --rhythm: hsl(240, 18%, 88%);
  --white: hsl(0, 0%, 100%);

  /**
   * typography 
   */

  --fs-1: 46px;
  --fs-2: 28px;
  --fs-3: 18px;
  --fs-4: 15px;
  --fs-5: 14px;

  /**
   * spacing 
   */

  --px: 30px;
  --py: 60px;

  /**
   * others 
   */

  --default-transition: 0.75s ease;

}





/*-----------------------------------*\ 
  #RESET
\*-----------------------------------*/

*, *::before, *::after {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  outline-offset: 5px;
}

li { list-style: none; }

a {
  font: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

img, svg, ion-icon, span, button { display: block; }

html {
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track { background: var(--cultured); }

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--saffron);
}

::-webkit-scrollbar-thumb:hover { background: var(--space-cadet); }





/*-----------------------------------*\ 
  #REUSED STYLE
\*-----------------------------------*/

.btn {
  height: 55px;
  padding: 0 25px;
  color: var(--space-cadet);
  font-size: 14px;
  font-weight: 500;
  transition: var(--default-transition);
}

.btn:hover { filter: saturate(1.05) brightness(1.05); }

.btn-primary { background: var(--saffron); }

.btn-secondary { background: var(--cultured); }

.btn-icon {
  display:     flex;
  align-items: center;
  gap: 10px;
}

.section-title {
  max-width: 420px;
  color: var(--space-cadet);
  font-size: var(--fs-2);
  font-weight: 600;
}

.section-text {
  max-width: 320px;
  color: var(--rhythm);
  font-size: var(--fs-4);
  line-height: 1.4;
  letter-spacing: 0.5px;
}











/*-----------------------------------*\ 
  #HOME
\*-----------------------------------*/

.home {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  padding: 150px var(--px) var(--py);
}

.home-left { text-align: center; }

.home-subtext {
  background: var(--cultured);
  color: var(--space-cadet);
  font-size: 13px;
  display: inline-block;
  padding: 3px;
  margin-bottom: 30px;
}

.main-heading {
  color: var(--space-cadet);
  font-size: var(--fs-1);
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

.home-text {
  color: var(--rhythm);
  margin-bottom: 30px;
  line-height: 1.6;
}

.home .btn-group {
  display:        flex;
  flex-direction: column;
  align-items:    center;
  gap: 15px;
}

.home-right {
  position: relative;
  aspect-ratio: 10 / 11;
  padding-top: 110%;
}

.food-img {
  position: absolute;
  width: 60%;
}

.food-1 {
  top:  25%;
  left: -4%;
  animation: scaleUp 3s ease-in-out infinite;
}

.food-2 {
  top:    0;
  right: -4%;
  animation: scaleUp 2s ease-in-out infinite;
}

.food-3 {
  bottom: -4%;
  right:  -4%;
  animation: scaleUp 4s ease-in-out infinite;
}

.dialog {
  position: absolute;
  filter: drop-shadow(0px 2px 46px hsla(0, 0%, 0%, 0.4));
}

.dialog-1 {
  top:   10%;
  right: 15%;
}

.dialog-2 {
  bottom: 20%;
  right:   5%;
}

.shape {
  position: absolute;
  filter: drop-shadow(0px 3px 6px hsla(0, 0%, 0%, 0.1));
}

.shape-1 {
  top:  0;
  left: 5%;
  animation: scaleUp 2s 3s ease-in-out infinite;
}

.shape-2 {
  right: 0;
  top:  55%;
  animation: scaleUp 3s 4s ease-in-out infinite;
}

.shape-3 {
  bottom: 5%;
  left:   5%;
  animation: scaleUp 3s 1s ease-in-out infinite;
}

.shape-4 {
  top:  35%;
  right: 0;
  animation: moveUp 3s 1s ease-in-out infinite;
}

.shape-5 {
  top: 60%;
  left: 0;
  animation: moveUp 3s ease-in-out infinite;
}


@keyframes scaleUp {

  0%,
  100% { transform: translateY(0) scale(1); }

  50% { transform: translateY(-5px) scale(1.05);}

}


@keyframes moveUp {

  0%,
  100% { transform: translateY(0); }
  20%  { transform: translateY(-3px); }
  50%  { transform: translateY(-8px); }

}





/*-----------------------------------*\ 
  #ABOUT
\*-----------------------------------*/

.about {
  padding: var(--py) var(--px);
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
}

.about-left { position: relative; }

.about-left .img-box {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.about-img {
  width:  100%;
  height: 100%;
  object-fit: cover;
  animation: lazy-scaleUp 30s linear infinite;
}


@keyframes lazy-scaleUp {

  0%,
  100% { transform: scale(1); }
  50%  { transform: scale(1.2); }

}


.abs-content-box {
  background: var(--white);
  position: absolute;
  bottom: -20px;
  right:  -20px;
  padding: 30px;
  text-align: center;
  box-shadow: 2px 2px 10px hsla(0, 0%, 0%, 0.1);
}

.dotted-border {
  border: 3px dotted var(--cultured);
  padding: 10px;
}

.number-lg {
  font-size: var(--fs-1);
  font-family: "Monoton", cursive;
  color: var(--space-cadet);
}

.text-md {
  font-size: var(--fs-3);
  font-weight: 600;
  color: var(--space-cadet);
}

.shape-6 {
  right: -9px;
  top:   35%;
  animation: scaleUp 2s 3s ease-in-out infinite;
}

.shape-7 {
  top:   50%;
  left: -15px;
  animation: scaleUp 3s ease-in-out infinite;
}

.shape-8 {
  top: -10px;
  left: 15%;
  animation: moveUp 3s 1s ease-in-out infinite;
}

.shape-9 {
  bottom: -20px;
  left:     5%;
  animation: moveUp 3s ease-in-out infinite;
}

.about-right .section-title { margin-bottom: 30px; }

.about-right p {
  max-width: 100%;
  margin-bottom: 30px;
}





/*-----------------------------------*\ 
  #SERVICE SECTION
\*-----------------------------------*/

.services {
  padding: var(--py) var(--px);
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.service-card .card-number {
  font-size: 42px;
  font-family: "Monoton", cursive;
  color: var(--saffron);
}

.service-card .card-heading {
  color: var(--space-cadet);
  font-size: var(--fs-3);
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 20px;
}

.service-card .card-text {
  color: var(--rhythm);
  font-size: var(--fs-4);
  line-height: 1.5;
}





/*-----------------------------------*\ 
  #PRODUCT SECTION
\*-----------------------------------*/

.product { padding: var(--py) var(--px); }

.product .section-title { margin-bottom: 30px; }

.product .section-text { margin-bottom: 60px; }

.products-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin-bottom: 50px;
}

.product-card .img-box {
  position: relative;
  overflow: hidden;
}

.product-img {
  width:  100%;
  height: 100%;
  object-fit: cover;
  transition: var(--default-transition);
}

.product-card:hover .product-img { transform: scale(1.05); }

.card-badge {
  position: absolute;
  top:  15px;
  left: 15px;
  display:     flex;
  align-items: center;
  gap: 5px;
  padding: 5px 8px;
  font-size: 14px;
}

.card-badge ion-icon { font-size: 13px; }

.card-badge.green {
  background: var(--pistachio);
  color: var(--space-cadet);
}

.card-badge.red {
  background: var(--red-orange-crayola);
  color: var(--space-cadet);
}

.product-card .wrapper {
  display:         flex;
  justify-content: space-between;
  align-items:     center;
  gap: 15px;
  background: var(--cultured);
  margin-bottom: 15px;
}

.product-card .product-name {
  color: var(--space-cadet);
  font-size: var(--fs-3);
  font-weight: 600;
  padding-left: 15px;
}

.product-card .product-price {
  background: var(--saffron);
  height: 60px;
  width:  60px;
  display:         flex;
  justify-content: center;
  align-items:     center;
  color: var(--space-cadet);
  font-size: 24px;
  font-weight: 500;
}

.product-card .small {
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
}

.product-card .product-text {
  font-size: var(--fs-4);
  color: var(--rhythm);
  line-height: 1.6;
  letter-spacing: 0.4px;
  margin-bottom: 15px;
}

.product-card .product-rating {
  display:     flex;
  align-items: center;
  gap: 5px;
  color: var(--saffron);
}

.product .btn-primary { margin-inline: auto; }





/*-----------------------------------*\ 
  #TESTIMONIALS SECTION
\*-----------------------------------*/

.testimonials { padding: var(--py) var(--px) 120px; }

.testimonials .section-title { margin-bottom: 15px; }

.testimonials .section-text { margin-bottom: 50px; }

.testimonials-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.testimonials-card .card-title {
  color: var(--space-cadet);
  font-weight: 600;
  margin-bottom: 15px;
}

.testimonials-rating {
  display:     flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}

.testimonials-rating ion-icon { color: var(--saffron); }

.testimonials-text {
  font-size: var(--fs-4);
  color: var(--rhythm);
  line-height: 1.4;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}

.customer-info {
  display:     flex;
  align-items: center;
  gap: 15px;
}

.customer-img-box {
  width:  50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.customer-img {
  width:  100%;
  height: 100%;
  object-fit: cover;
}

.customer-name {
  font-size: 14px;
  color: var(--space-cadet);
  font-weight: 600;
}





/*-----------------------------------*\ 
  #FOOTER
\*-----------------------------------*/

footer {
  background: var(--space-cadet);
  padding: 50px var(--px);
}

.footer-wrapper {
  display:        flex;
  flex-direction: column;
  align-items:    center;
  gap: 30px;
}

.social-link {
  display: flex;
  gap: 15px;
}

.social-link ion-icon {
  color: var(--cultured);
  font-size: 15px;
  transition: 0.25s ease;
}

.social-link ion-icon:hover { color: var(--saffron); }

.copyright {
  font-size: 12px;
  color: var(--rhythm);
  text-align: center;
  letter-spacing: 0.5px;
}